.cottage-edit-button-container img {
  cursor: pointer;
  width: 13px;
  height: 13px;
}

.cottage-edit-button-container {
  line-height: 10px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
}
