$primary-color: #fb775a;
$secondary-color: #000000;
$white-color: #ffffff;
$black-color: #000000;
$body-bg-color: #f6f8fa;
$color: #192e46;
$sub-heading-color: #4c6889;
$faded-color: #768ca5;
// general
$cottage-border-color: #d9dee4;

//ProductScheule
$product-schedule-border-color: #bcc6d3;
