.password-container {
  height: 20px;
  line-height: 20px;
  .validation {
    padding: 0rem 1rem;
  }
  p {
    font-weight: 500;
    color: rgba(25, 46, 70, 0.6) !important;
    letter-spacing: 0.02em;
    font-size: 0.8rem !important;
  }
}
