.no-products-wrapper {
  border: 2px dashed #fb775a;
  border-radius: 4px;
  padding: 2rem 1rem;
  background-color: #fffbfa;
  text-align: center;
  h1 {
    margin: 0;
    font-weight: 600;
    font-size: 1.0rem;
  }
}
